In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('/Users/sujith/Downloads/JEOPARDY_CSV.csv')

In [23]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [ ]:
1. Entity
2. Similiarlity Score between Category and Answer

In [2]:
import spacy

ModuleNotFoundError: No module named 'spacy'

In [3]:
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def get_cosine_sim(*strs): 
    vectors = [t for t in get_vectors(*strs)]
    return cosine_similarity(vectors)
    
def get_vectors(*strs):
    text = [t for t in strs]
    vectorizer = CountVectorizer(text)
    vectorizer.fit(text)
    return vectorizer.transform(text).toarray()

In [19]:
get_cosine_sim("I'd like an apple", "An apple a day keeps the doctor away")[0][1]

0.4364357804719848

In [ ]:
get_cosine_sim(df)

In [33]:
df[df.Category]

AttributeError: 'DataFrame' object has no attribute 'Category'

In [35]:
df.columns = ['ShowNumber', 'AirDate', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [40]:
df['Category'][0]

'HISTORY'

In [41]:
get_cosine_sim(df['Category'][0], df['Answer'][0])[0][1]

0.0

In [43]:
df['sim_score'] = df.apply(lambda row: get_cosine_sim(row['Category'], row['Answer'])[0][1], axis=1)

KeyboardInterrupt:

In [44]:
df_small = df[:10].copy()

In [46]:
df_small['sim_score'] = df_small.apply(lambda row: get_cosine_sim(row['Category'], row['Answer'])[0][1], axis=1)

In [47]:
df_small

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,sim_score
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,0.0
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,0.0
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,0.0
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,0.0
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,0.0
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant,0.0
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way,0.0
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan,0.0
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington,0.0
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel,0.0

In [80]:
25 % 26

25

In [53]:
int(20 / 26)

0

In [81]:

def get_alpha(num):
    div = int(num / 26)
    rem = num % 26
    ret = ''
    if div > 0:
        ret = d[div]
    if(rem == 0):
        ret = ret+d[26]
    else:
        ret = ret+d[rem]
    
    return ret

In [56]:
d = {1: 'a',
2: 'b',
3: 'c',
4: 'd',
5: 'e',
6: 'f',
7: 'g',
8: 'h',
9: 'i',
10:'j',
11:'k',
12:'l',
13:'m',
14:'n',
15:'o',
16:'p',
17:'q',
18:'r',
19:'s',
20:'t',
21:'u',
22:'v',
23:'w',
24:'x',
25:'y',
26:'z'}

In [87]:
get_alpha(52)

'bz'

string = ["\0"] * 50

In [88]:
string = ["\0"] * 50

In [89]:
string

['\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00',
 '\x00']

In [91]:
chr(ord('A')+1)

'B'

In [92]:
27 / 26

1.0384615384615385

In [93]:
pwd

'/Users/sujith/work/vlabs/DynamiteSDK/notebooks/Untitled Folder'